body {
    background-color: #272727;
    overflow-x: hidden;
}

#container {
    position: absolute;
    width: calc(100% - 202px);
    height: calc(100dvh - 2px);
    left: 201px;
    top: 0;
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
    #container {
        position: absolute;
        width: 100%;
        height: calc(100dvh - 70px);
        left: 0px;
        top: 70px;
        z-index: 2;
        overflow-y: auto;
        overflow-x: hidden;
    }
}